@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body {
    font-family: 'Helvetica Neue', sans-serif;
}

img {
    width: 15rem;
    height: 9rem;
}

.isShown {
    display: block;
}

.isHidden {
    display: none;
}

.weatherIcon img{
    width: 6rem;
    height: 6rem
}